# behat.yml
default:
    suites:
        webentry2_features:
            paths:
                - %paths.base%/features/webentry2
                - %paths.base%/features/test
            contexts:
                - FeatureContext:
                    parameters:
                        webDriverHost: "http://localhost:4444"
                        browser: "chrome"
                        capabilities:
                            browserName: chrome
                            platform: ANY
