<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
         stderr="true"
>
    <testsuites>
        <testsuite name="LegacyClasses">
            <directory>./tests/unit/workflow/engine/classes/</directory>
        </testsuite>
        <testsuite name="Classes">
            <directory>./tests/unit/workflow/engine/src/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="Performance">
            <directory>./tests/Performance/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./gulliver</directory>
            <directory suffix=".php">./workflow/engine/classes</directory>
            <directory suffix=".php">./workflow/engine/src</directory>
            <directory suffix=".php">./workflow/engine/methods/emailServer/</directory>
        </whitelist>
        <exclude>
            <directory>./workflow/engine/classes/model/map</directory>
            <directory>./workflow/engine/classes/model/om</directory>
            <directory>./workflow/engine/src/Tests</directory>
            <directory>./workflow/public_html</directory>
        </exclude>
    </filter>

    <php>
        <!--Main environment-->
        <env name="MAIN_SYS_SYS" value="workflow" />
        <env name="MAIN_TIME_ZONE" value="America/New_York" />
        <env name="MAIN_SYSTEM_UTC_TIME_ZONE" value="1" />
        <!--Connection to database-->
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_DATABASE" value="test" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="password" />
        <!--Connection to database SQLServer-->
        <env name="RUN_MSSQL_TESTS" value="false" />
        <env name="MSSQL_HOST" value="172.16.3.1" />
        <env name="MSSQL_PORT" value="1433" />
        <env name="MSSQL_DATABASE" value="testexternal" />
        <env name="MSSQL_USERNAME" value="test" />
        <env name="MSSQL_PASSWORD" value="test" />
        <!--Define if we use a populated database-->
        <env name="POPULATE_DATABASE" value="false" />
        <!--Performance Mysql test-->
        <env name="RUN_MYSQL_PERFORMANCE_TESTS" value="false" />
        <!--email account-->
        <env name="emailEngine" value="PHPMAILER" />
        <env name="emailServer" value="smtp.gmail.com" />
        <env name="emailPort" value="465" />
        <env name="emailAccount" value="admin@processmaker.com" />
        <env name="emailAccountPassword" value="" />
        <env name="emailSecure" value="ssl" />
        <!--Php variables-->
        <var name="APP_ENV" value="testing" />
        <var name="SYS_SYS" value="test" />
        <var name="SYS_LANG" value="en" />
        <var name="SYS_SKIN" value="neoclassic" />
        <var name="DB_ADAPTER" value="mysql" />
        <var name="DB_HOST" value="processmaker3" />
        <var name="DB_NAME" value="wf_test" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="" />
        <var name="PATH_DB" value="./shared/sites/" />
        <var name="PATH_DATA" value="./shared/" />
        <var name="APP_HOST" value="processmaker3.local" />
        <var name="HTTPS" value="off" />
        <var name="SERVER_PORT" value="8080" />
    </php>
</phpunit>
