<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
<!--        <testsuite name="automated">
            <directory>./tests/automated/</directory>
        </testsuite>

        <testsuite name="unit">
            <directory>./tests/unit/</directory>
        </testsuite>

        <testsuite name="api">
            <directory>./workflow/engine/src/</directory>
        </testsuite>-->
        <testsuite name="workflow">
            <directory>./tests/workflow/engine/src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./workflow/engine/classes</directory>
           <!-- <directory suffix=".php">./workflow/engine/controllers</directory>
            <directory suffix=".php">./workflow/engine/methods</directory> -->
            <directory suffix=".php">./workflow/engine/src</directory>
           <!-- <directory suffix=".php">./gulliver/bin</directory> -->
           <!-- <directory suffix=".php">./gulliver/system</directory> -->
        </whitelist>
        <exclude>
            <directory>./workflow/engine/classes/model/map</directory>
            <directory>./workflow/engine/classes/model/om</directory>
            <directory>./workflow/engine/src/Tests</directory>
            <directory>./workflow/public_html</directory>
        </exclude>
    </filter>

    <php>
        <var name="SYS_SYS" value="os" />
        <var name="SYS_LANG" value="en" />
        <var name="SYS_SKIN" value="classic" />
        <var name="DB_ADAPTER" value="mysql" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_NAME" value="wf_test" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASS" value="" />
        <var name="PATH_DB" value="./test_shared/sites/" />
        <var name="PATH_DATA" value="./test_shared/" />
        <var name="APP_HOST" value="localhost" />
        <var name="HTTPS" value="off" />
    </php>

    <logging>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
