
{if $isDebugMode}
    <!-- files that are built into pmui.css-->
    {foreach from=$pmuiCssCacheFile item=file}
    <link rel="stylesheet" type="text/css" href="/lib-dev/pmUI/{$file}" />
    {/foreach}
    <!-- files that are built into mafe.css-->
    <link rel="stylesheet" type="text/css" href="/lib-dev/mafe/toolbarpanel.css" />
    <link rel="stylesheet" type="text/css" href="/lib-dev/mafe/bpmn.css" />

    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery.layout.css" />
    <link rel="stylesheet" type="text/css" href="/lib-dev/css/jquery-ui-1.10.3.custom.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/lib/css/jquery.dataTables.css">-->

    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var credentials = "{$credentials}";
    </script>
    <script type="text/javascript" src="/lib-dev/js/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/underscore-min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/jquery.layout.min.js"></script>
    <script type="text/javascript" src="/lib-dev/js/restclient.min.js"></script>
    <!--<script type="text/javascript" src="/lib/js/jquery.dataTables.min.js"></script>-->

    <!-- files that are built into pmui.js-->
    {foreach from=$pmuiJsCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/pmUI/{$file}"></script>
    {/foreach}

    <!-- files that are built into mafe.js-->
    {foreach from=$mafeCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}
    <!-- files that are built into designer.js-->
    {foreach from=$designerCacheFile item=file}
    <script type="text/javascript" src="/lib-dev/mafe/{$file}"></script>
    {/foreach}
{else}

    <link rel="stylesheet" type="text/css" href="/lib/pmUI/pmui.css" />
    <link rel="stylesheet" type="text/css" href="/lib/mafe/mafe.css" />
    <link rel="stylesheet" type="text/css" href="/lib/css/jquery.layout.css" />
    <link rel="stylesheet" type="text/css" href="/lib/css/jquery-ui-1.10.3.custom.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="/lib/css/jquery.dataTables.css">-->

    <script type="text/javascript">
        var prj_uid = "{$prj_uid}";
        var credentials = "{$credentials}";
    </script>
    <script type="text/javascript" src="/lib/js/wz_jsgraphics.js"></script>
    <script type="text/javascript" src="/lib/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/lib/js/underscore-min.js"></script>
    <script type="text/javascript" src="/lib/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/lib/js/jquery.layout.min.js"></script>
    <script type="text/javascript" src="/lib/js/restclient.min.js"></script>
    <!--<script type="text/javascript" src="/lib/js/jquery.dataTables.min.js"></script>-->
    <script type="text/javascript" src="/lib/pmUI/pmui.min.js"></script>
    <script type="text/javascript" src="/lib/mafe/mafe.min.js"></script>
    <script type="text/javascript" src="/lib/mafe/designer.min.js"></script>
{/if}
