<link type="text/css" href="/lib/jQueryUI/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/lib/pmUI/pmui-1.0.0.css">

<link rel="stylesheet" type="text/css" href="/lib/mafe/mafe.css">
<link rel="stylesheet" type="text/css" href="/lib/pmDraw/pmdraw.css">

<script type="text/javascript" src="/lib/translations.js"></script>
<script type="text/javascript" src="/lib/wz_jsgraphics/wz_jsgraphics.js"></script>
<script type="text/javascript" src="/lib/jQuery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/lib/jQueryUI/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="/lib/jQueryLayout/jquery.layout.min.js"></script>
<script type="text/javascript" src="/lib/restClient/restclient.js"></script>

<script type="text/javascript" src="/lib/pmUI/pmui-1.0.0.js"></script>
<script type="text/javascript" src="/lib/mafe/mafe.js"></script>
<script type="text/javascript" src="/lib/app.js"></script>

<h3>Process Id: {$pro_uid}</h3>